* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #E6DADA;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#274046), to(#E6DADA));
  background: linear-gradient(to right, #274046, #E6DADA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image-container {
  padding: 20px;
  margin: 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.image-container .image-shadow {
  -webkit-box-shadow: 0px 15px 25px;
          box-shadow: 0px 15px 25px;
  margin-bottom: 0;
}

.image-container img {
  max-height: 85vh;
  width: auto;
  display: block;
  margin: 0 auto;
}

nav {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 0 auto;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: #E6DADA;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#3a4e53), to(#E6DADA));
  background: linear-gradient(to left, #3a4e53, #E6DADA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav li:last-child {
  color: white;
}

nav ul {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  opacity: 1;
  font-size: 25px;
}

nav ul li {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  list-style-type: none;
  color: #222222;
}

nav ul li input {
  display: none;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.287);
}

nav ul li:hover p {
  display: none;
}

nav ul li:hover input {
  display: block;
}

#return-default, #change-img {
  cursor: pointer;
}

@media all and (max-width: 1171px) {
  ul li {
    font-size: 16px;
  }
}

@media all and (max-width: 650px) {
  body {
    max-height: 100vh;
    max-width: 100vw;
  }
  body nav {
    width: 100%;
    bottom: 0;
    border-radius: 0px;
  }
  body nav ul {
    height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  body nav ul li:hover {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #3f3f3fef;
  }
  body nav ul li {
    text-align: center;
    border: 1px solid #1b1b1b3d;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .image-container .image-shadow img {
    max-width: 90vw;
    max-height: 90vh;
  }
}
/*# sourceMappingURL=style.css.map */